{
	"semi": true,
	"tabWidth": 2,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"quoteProps": "as-needed",
	"proseWrap": "always",
	"endOfLine": "auto"
}
