.idea/aws.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
ai/FastAPI/.idea/misc.xml
ai/FastAPI/.idea/modules.xml
ai/FastAPI/.idea/vcs.xml
ai/FastAPI/.idea/workspace.xml
ai/FastAPI/.idea/aws.xml
ai/FastAPI/.idea/misc.xml
ai/FastAPI/.idea/vcs.xml
ai/FastAPI/.idea/misc.xml
ai/FastAPI/.idea/vcs.xml
*.xml
